body{
    color: #212121;
    font-family: Roboto; 
    ;
}

.btn-filter:hover{
    color: white;
    background-color: #2196F3;

}

/* .btn-filter:active{
    color: white;
} */

/* .btn-filter{
   background-color: #F5F4FA;
    
} */

.link{
    
}

ul {
    list-style-type: none;
}

.btn-filter{


}